<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.jex00_practice.board.mapper.TimeMapper">
    <select id="getTime2" resultType="string">   <!--아이디. java.lang.String 풀네임. 줄여서 string으로 가능(소문자)-->
        select now()
    </select>
</mapper>